.post-title{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.post-subtitle{
    font-size: 1.75rem;
    font-weight: 300;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.post-preview{
    color: #000;
}
a {
    color: #000000;
    text-decoration: none;
}

a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}